
PaperTesis_Proyect/.DS_Store
PaperTesis_Proyect/Code/.DS_Store
PaperTesis_Proyect/Code/ConModificacionAlejandro/.DS_Store
PaperTesis_Proyect/Figures/.DS_Store
PaperTesis_Proyect/Figures/ConModificacionAlejandro/.DS_Store
PaperTesis_Proyect/Figures/Converted_toPDF/.DS_Store
*.aux
*.bbl
*.blg
*.log
PaperTesis_Proyect/source/CassettiFreryR1.pdf
*.gz
PaperTesis_Proyect/Data/PaperTesis/.Rhistory
.Rproj.user
*.dvi
PaperTesis_Proyect/ParaEnviarRevista/CassettiFreryR1.pdf
*.bak
PaperTesis_Proyect/ParaEnviarRevista/CassettiFreryR1.pdf
*.synctex(busy)
PaperTesis_Proyect/source/.DS_Store
PaperTesis_Proyect/ParaEnviarRevista/.DS_Store
PaperTesis_Proyect/ParaEnviarRevista/Revision Files/.DS_Store
PaperTesis_Proyect/source/Revision Files/Rev01/.DS_Store
