
PaperTesis_Proyect/.DS_Store
PaperTesis_Proyect/Code/.DS_Store
PaperTesis_Proyect/Code/ConModificacionAlejandro/.DS_Store
PaperTesis_Proyect/Figures/.DS_Store
PaperTesis_Proyect/Figures/ConModificacionAlejandro/.DS_Store
PaperTesis_Proyect/Figures/Converted_toPDF/.DS_Store
*.aux
*.bbl
*.blg
*.log
PaperTesis_Proyect/source/CassettiFreryR1.pdf
*.gz
PaperTesis_Proyect/Data/PaperTesis/.Rhistory
